<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mx-auto mt-5">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <h1 class="display-4 text-center mt-4">My Todo List</h1>
        <!-- form add todo -->
        <form class="m-4">
          <div class="form-group">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Add Todo"
                [(ngModel)]="txtItem"
                name="txtItem"
              />
              <button class="btn btn-primary ml-2 btn-sm" (click)="addItem()">Add</button>
            </div>
          </div>
        </form>
        <!-- /form add todo -->

        <!-- todo list -->
        <div class="lis-group mt-2 m-4">
          <ul class="list-group">
            <li
              *ngFor="let item of list;let i=index"
              class="list-group-item list-group-item-action">
              <input type="checkbox" (click)="completeItem(item)">
              <span [ngClass]="{'item-complete': item.checked === true}">
                {{item.text}}
              </span>
              <button (click)="deleteItem(i)" type="button" class="btn btn-danger btn-sm float-sm-end text-white">Delete</button>
            </li>
          </ul>
          <button class="mt-2 btn btn-danger btn-sm" type="button" (click)="deleteAll()" [ngClass]="{'not-allowed': list.length === 0}" [disabled]="list.length === 0">Delete All</button>
        </div>
        <!-- /todo list -->
      </div>
    </div>
  </div>
</div>
